body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(236, 234, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weather-container {
  width: 100vw;
  height: 100vh;
  background: url('./img/bg.jpg');
}

.dim-bg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}

form {
  margin: 3rem 3rem 0 0;
  width: 100%;
}

form input[type=text] {
  height: 1.5rem;
  padding: 0.5rem;
  width: 40%;
}

form input[type=submit] {
  height: 2.8rem;
  padding: 0.5rem;
  background: none;
  border: solid 1px rgb(75, 145, 236);
  color: rgb(236, 234, 234);
  cursor: pointer;
}

.container-weather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.location {
  font-weight: 400;
  font-size: 3rem;
  margin-top: -0.1rem;
  text-transform: capitalize;
}

.weather-icon {
  font-size: 5rem;
  margin-top: -2rem;
}

.temp {
  font-weight: 300;
  font-size: 3rem;
  margin-top: -1rem;
}

.max-min-temp {
  font-size: 1.2rem;
  margin-top: -3rem;

}

.weather-desc {
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: -1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.other-elements-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.elem-type {
  letter-spacing: 0.15rem;
  margin-bottom: -1.8rem;
}

.elem-icon {
  font-size: 2rem;
  margin-bottom: -1.8rem;
}

.elem-value {
  font-size: 1.3rem;
  margin-bottom: -1.5rem;
}

/* spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/* media queery  */
@media only screen and (max-width: 550px) {
  form input[type=text] {
    width: 50%;
    height: 1rem;
  }

  form input[type=submit] {
    height: 2.1rem;
  }

  .elem-type {
    letter-spacing: normal;
    margin-bottom: -1rem;
    font-size: 0.7rem;
  }
  
  .elem-icon {
    font-size: 1.2rem;
    margin-bottom: -1rem;
  }
  
  .elem-value {
    font-size: 1rem;
    margin-bottom: -1.5rem;
    font-weight: 300;
  }
}
